# Problem Set 5: Working with numpy and pandas

** This problem set is due Wednesday, October 22, at 11:59pm EDT**

## Getting started

1. Change the title of this notebook to `YourLastName_YourFirstName_DSP_PS5.ipynb`.

## Insert your honor pledge here
Remember: to edit a text cell, double click!

## Part 1: NumPy for Michael Jordan stats

In this part of the problem set, you will be downloading and reading in a dataset of statistics for [Michael Jordan](https://en.wikipedia.org/wiki/Michael_Jordan)'s basketball career.

View the [dataset in an easy-to-read format here](https://github.com/CSCI1090-S24/ps6/blob/main/michael-jordan.csv) or by clicking on the `michael-jordan.csv` file in your GitHub repo to get an idea of the statistics.

Then download the dataset for analysis in this notebook by executing the code below.

**Note:** You will have to re-download the file whenever Colab decides to end your session. In general with Colab, if you step away from your computer for a while or just leave this web page for a while, you'll need to re-execute your code from the beginning.

In [ ]:
!rm michael-jordan.csv*
!wget https://raw.githubusercontent.com/finocchiaro-classes/csci-1090-f25-ps5/main/michael-jordan.csv

### Your tasks

Your goal is to answer the following questions using numpy. Questions 1-7 will involve using numpy aggregate functions like `sum()` and `mean()`. Question 8 will involve using the `count_nonzero()` function.

1. How many NBA games did Michael Jordan play?
2. What year was Jordan's first year in the NBA?
3. How old was Michael Jordan in his last NBA game?
4. How many total wins did  Jordan's team have? (In the Wins column, 1=won, 0=lost.)
5. On average, how many minutes did Jordan play per game?
6. What was Michael's overall shooting percentage? In other words, of all the shots he took, how many did he make?
7. How many total rebounds did he have, including both offensive and defensive rebounds?
8. In how many games did he foul out? (You "foul out" and leave the game when you make 6 fouls.)

I've included code for reading in the file and for printing out the column names for your reference.

In [ ]:
# Here is the import statement.

# In generally, when we import numpy we import it as np.
# np is just a shortcut so we don't have to type numpy
# every time we want to use an numpy function.

import numpy as np

In [ ]:
# Reading in the file into a numpy array called jordan
# NOTE: I am skipping the first row since it's all strings

jordan = np.loadtxt("michael-jordan.csv",
                    delimiter=",",
                    skiprows=1,
                    dtype=float)

In [ ]:
# These lines of code are just here to remind you which column
# corresponds to which statistics.
with open("michael-jordan.csv") as f:
  stat_names = f.readline().rstrip().split(",")

for i in range(len(stat_names)):
  print(f"column {i} = {stat_names[i]}")

In [ ]:
# 1. How many NBA games did Michael Jordan play?

In [ ]:
# 2. What year was Jordan's first year in the NBA?

In [ ]:
# 3. How old was Michael Jordan in his last NBA game?

In [ ]:
# 4. How many total wins did Jordan's team have? (In the Wins column, 1=won, 0=lost.)

In [ ]:
# 5. On average, how many minutes did Jordan play per game?

In [ ]:
# 6. What was Michael's overall shooting percentage?

In [ ]:
# 7. How many total rebounds did he have, including both offensive and defensive rebounds?

In [ ]:
# 8. In how many games did he foul out?

This is what your output should look like. Remember, as a data scientist, you need to make your results easy to interpret and understand for a layperson. Therefore, you must make your output look nice, like this.

Remember to make things whole numbers that are whole number (e.g., years, totals, age, games). You can do this with `round()` or with f-strings (e.g., `print(f"{my_year_variable:.0f"})`. We will deduct points if the number formatting is incorrect.

```
Games played: 1072
First year in the NBA: 1985
Age in last game: 40 years
Total wins: 706
Average minutes played per game: 38.26 minutes
Overall shooting percentage: %49.69
Total rebounds: 6672
Games fouled out: 11
```

## Part 2: Pandas for country data

Now you are going to use pandas to analyze some data. As we learned in class, pandas has many advantages over numpy. The two most helpful are (1) you can have data of mixed types (strings, ints, floats..), and (2) you can refer to columns with their names rather than having to remember their index numbers.

The code cell below will download the dataset we'll be using for Part 2. You can view the dataset in a [pleasant easy-to-read format here](https://github.com/CSCI1090-S24/ps6/blob/main/country-data.csv) or in your own repo.

In [ ]:
!rm country-data.csv*
!wget https://raw.githubusercontent.com/finocchiaro-classes/csci-1090-f25-ps5/main/country-data.csv

It is very easy to load in a csv dataset in pandas, but this time, I will do it for you in the cell below. In the future you will have to do this yourself!

In [ ]:
import pandas as pd

countries = pd.read_csv("country-data.csv")

### Your tasks

Print out the following information, using the formatting shown at the end of this text cell. **Select 10 of the 12 following tasks.**

1. Number of countries.
2. Column names.
3. Summary descriptive statistics.
4. Average literacy rate in the world.
7. Top 5 most populous countries
9. The 5 countries with the lowest birthrate.
5. Number of countries in "BALTICS".
6. Number of countries in each region.
10. Average number of phones per 1000 people in "OCEANIA".
9. Area of arable land, in square miles, in Kazakhstan.
11. The country with the highest population density.
12. The "LATIN AMER. & CARIB" with the highest GDP.

In [ ]:
# 1. Print out the number of countries.

In [ ]:
# 2. Print out the column names.

In [ ]:
# 3. Print out summary descriptive statistics.

In [ ]:
# 4. Average literacy rate in the world.

In [ ]:
# 5. Top 5 most populous countries

In [ ]:
# 6. The 5 countries with the lowest birthrate

In [ ]:
# 7. Number of countries in the Baltics.

In [ ]:
# 8. How many countries are in each region?

# Hint: use value_counts()

In [ ]:
# 9. How many phones per 1000 people are there in "OCEANIA" on average?

# First get all the Oceania countries



# Then get the the mean of their Phones-per-1000 column



# Then print it out

In [ ]:
# 10. How much land (not what percent) in Kazakhstan is arable?

# First get Kazakhstan row

# Then get area, which is provided in square miles.

# Then get arable percentage.

# Convert arable percentage to a decimal and then multiply.

# Print out the result

In [ ]:
# 11. What country has the highest population density

# Calculate the population density like this:
countries["popd"] = countries["Population"] / countries["Area-Sq-Mi"]

# Then find the id of the one with the max population density with idmax


# Then print it out.

In [ ]:
# 12. What country in "LATIN AMER. & CARIB" has the highest GDP?

# First get the countries in this region.


# Then get the id of the country with the max GDP from that dataframe with idxmax()



# Then print out the country name using that index.

Here's what the output should look like for questions 4-12:

```
Average world literacy: 82.84%

Five most populous countries:
China
India
United States
Indonesia
Brazil

Five countries with the lowest birthrate:
Hong Kong
Germany
Macau
Andorra
Italy

Number of countries in the Baltics: 3

Countries per region
SUB-SAHARAN AFRICA: 51
LATIN AMER. & CARIB: 45
ASIA: 28
WESTERN EUROPE: 28
OCEANIA: 21
NEAR EAST: 16
C.W. OF IND. STATES: 12
EASTERN EUROPE: 12
NORTHERN AFRICA: 6
NORTHERN AMERICA: 5
BALTICS: 3

The average number of phones per 1000 people in countries in Oceania: 189.89.

Arable land in Kazakhstan: 216840.54 sq. mi.

Country with highest population density: Monaco

Country in Latin American and Caribbean with highest GDP: Cayman Islands
```

## Submitting your work

You should have already done a few of these steps at the beginning, but here's a reminder:

1. Rename this file as `YourLastName_YourFirstName_DSP_PS5.ipynb`.

This problem set is due Wednesday, October 22, at 11:59pm EDT.